@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.more-button {
    background-color: #000000; border: none; color: #ffffff;
    cursor: pointer; display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif; font-size: 1em;
    font-size: 22px; line-height: 1em; margin: 15px 40px; outline: none;
    padding: 12px 40px 10px; position: relative;
    text-transform: uppercase; font-weight: 700;
}

.more-button:before, .more-button:after {
    border-color: transparent; -webkit-transition: all 0.25s;
    transition: all 0.25s; border-style: solid; border-width: 0;
    content: ""; height: 24px; position: absolute; width: 24px;
}

.more-button:before {
    border-color: #000000; border-right-width: 2px; border-top-width: 2px;
    right: -5px; top: -5px;
}

.more-button:after {
    border-bottom-width: 2px; border-color: #000000; border-left-width: 2px;
    bottom: -5px; left: -5px;
}

.more-button:hover, .more-button.hover {
    background-color: #000000;
}

.more-button:hover:before, .more-button.hover:before, .more-button:hover:after,
    .more-button.hover:after {
    height: 100%; width: 100%;
}

.btns {
    font-size: 1rem; white-space: nowrap; padding: .5em .8em;
    margin-right: .5rem; margin-bottom : .4rem; display: inline-block;
    font-family: Open Sans, Helvetica, Arial, sans-serif; float: right;
    line-height: 18px; display: inline-block; zoom: 1; color: #fff;
    text-align: center; position: relative; 
    -webkit-transition : border .25s linear, color .25s linear,
    background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s
        linear; border-radius: 1rem;
    -webkit-transition: border .25s linear, color .25s linear,
        background-color .25s linear; margin-bottom: .4rem;
}

.btns.btn-dark {
    background-color: #000000; border-color: #2c3d51;
    -webkit-box-shadow: 0 3px 0 #080c0f; box-shadow: 0 3px 0 #080c0f;
}

.btns.btn-dark:hover {
    background-color: #000000; text-decoration: none;
}

.btns.btn-dark:active {
    top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;
}

.btns.btn-dark:visited, .btns.btn-dark:link {
    color: #fff; text-decoration: none;
}