/* @import url(https://fonts.googleapis.com/css?family=BenchNine:700); */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');

html body{
    font-weight:400;
    line-height:1.5;
    text-align:left;
}
p{
    margin-bottom: 10px;
}
img{
    vertical-align: middle;
}

html body{
	background-color: snow;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Noto Sans KR","Open Sans", Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.more-button {
    background-color: #000000; border: none; color: #ffffff;
    cursor: pointer; display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif; font-size: 1em;
    font-size: 22px; line-height: 1em; margin: 15px 40px; outline: none;
    padding: 12px 40px 10px; position: relative;
    text-transform: uppercase; font-weight: 700;
}

.more-button:before, .more-button:after {
    border-color: transparent; -webkit-transition: all 0.25s;
    transition: all 0.25s; border-style: solid; border-width: 0;
    content: ""; height: 24px; position: absolute; width: 24px;
}

.more-button:before {
    border-color: #000000; border-right-width: 2px; border-top-width: 2px;
    right: -5px; top: -5px;
}

.more-button:after {
    border-bottom-width: 2px; border-color: #000000; border-left-width: 2px;
    bottom: -5px; left: -5px;
}

.more-button:hover, .more-button.hover {
    background-color: #000000;
}

.more-button:hover:before, .more-button.hover:before, .more-button:hover:after,
    .more-button.hover:after {
    height: 100%; width: 100%;
}
/* 
.btns {
    font-size: 1rem; white-space: nowrap; padding: .5em .8em;
    margin-right: .5rem; margin-bottom : .4rem; display: inline-block;
    font-family: Open Sans, Helvetica, Arial, sans-serif; float: right;
    line-height: 18px; display: inline-block; zoom: 1; color: #fff;
    text-align: center; position: relative; 
    -webkit-transition : border .25s linear, color .25s linear,
    background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s
        linear; border-radius: 1rem;
    -webkit-transition: border .25s linear, color .25s linear,
        background-color .25s linear; margin-bottom: .4rem;
}

.btns.btns-dark {
    background-color: #000000; border-color: #2c3d51;
    -webkit-box-shadow: 0 3px 0 #080c0f; box-shadow: 0 3px 0 #080c0f;
}

.btns.btns-dark:hover {
    background-color: #000000; text-decoration: none;
}

.btns.btns-dark:active {
    top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;
}

.btns.btns-dark:visited, .btns.btns-dark:link {
    color: #fff; text-decoration: none;
} */

.btns {
     display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}

@media screen and (prefers-reduced-motion: reduce) {
  .btns {
    transition: none;
  }
}

.btns:hover, .btns:focus {
  text-decoration: none;
}

.btns:focus, .btns.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btns.disabled, .btns:disabled {
  opacity: 0.65;
}

.btns:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btns:not(:disabled):not(.disabled):active, .btns:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btns.disabled {
  pointer-events: none;
}

.btns-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btns-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btns-outline-primary:focus, .btns-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btns-outline-primary.disabled, .btns-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btns-outline-primary:not(:disabled):not(.disabled):active, .btns-outline-primary:not(:disabled):not(.disabled).active,
.show > .btns-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btns-outline-primary:not(:disabled):not(.disabled):active:focus, .btns-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btns-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btns-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btns-outline-dark:focus, .btns-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btns-outline-dark.disabled, .btns-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btns-outline-dark:not(:disabled):not(.disabled):active, .btns-outline-dark:not(:disabled):not(.disabled).active,
.show > .btns-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btns-outline-dark:not(:disabled):not(.disabled):active:focus, .btns-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btns-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.btns-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btns-outline-secondary:focus, .btns-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btns-outline-secondary.disabled, .btns-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btns-outline-secondary:not(:disabled):not(.disabled):active, .btns-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btns-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btns-outline-secondary:not(:disabled):not(.disabled):active:focus, .btns-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btns-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btns-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btns-outline-success:focus, .btns-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btns-outline-success.disabled, .btns-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

.btns-outline-success:not(:disabled):not(.disabled):active, .btns-outline-success:not(:disabled):not(.disabled).active,
.show > .btns-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btns-outline-success:not(:disabled):not(.disabled):active:focus, .btns-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btns-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.btns-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btns-outline-info:focus, .btns-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btns-outline-info.disabled, .btns-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btns-outline-info:not(:disabled):not(.disabled):active, .btns-outline-info:not(:disabled):not(.disabled).active,
.show > .btns-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btns-outline-info:not(:disabled):not(.disabled):active:focus, .btns-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btns-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

.btns-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btns-outline-warning:focus, .btns-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btns-outline-warning.disabled, .btns-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.btns-outline-warning:not(:disabled):not(.disabled):active, .btns-outline-warning:not(:disabled):not(.disabled).active,
.show > .btns-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btns-outline-warning:not(:disabled):not(.disabled):active:focus, .btns-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btns-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btns-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btns-outline-danger:focus, .btns-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btns-outline-danger.disabled, .btns-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btns-outline-danger:not(:disabled):not(.disabled):active, .btns-outline-danger:not(:disabled):not(.disabled).active,
.show > .btns-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btns-outline-danger:not(:disabled):not(.disabled):active:focus, .btns-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btns-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

.btns-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btns-outline-light:focus, .btns-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btns-outline-light.disabled, .btns-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btns-outline-light:not(:disabled):not(.disabled):active, .btns-outline-light:not(:disabled):not(.disabled).active,
.show > .btns-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btns-outline-light:not(:disabled):not(.disabled):active:focus, .btns-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

/* test */
.btns-outline-m {
  color: #3F51D1;
  background-color: transparent;
  background-image: none;
  border-color: #3F51D1;
}

.btns-outline-m:hover {
  color: #fff;
  background-color: #3F51D1;
  border-color: #3F51D1;
}

.btns-outline-m:focus, .btns-outline-m.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btns-outline-m.disabled, .btns-outline-m:disabled {
  color: #3F51D1;
  background-color: transparent;
}

.btns-outline-m:not(:disabled):not(.disabled):active, .btns-outline-m:not(:disabled):not(.disabled).active,
.show > .btns-outline-m.dropdown-toggle {
  color: #fff;
  background-color: #3F51D1;
  border-color: #3F51D1;
}

.btns-outline-m:not(:disabled):not(.disabled):active:focus, .btns-outline-m:not(:disabled):not(.disabled).active:focus,
.show > .btns-outline-m.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

h1.article  { 
  font-size: 250%;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #666;
  padding: 3px 0px;
  margin: 5px 0;
  letter-spacing: 1px;
  word-spacing: 3px;
}
 h2.article {
  font-size: 200%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #666;
  PADDING-BOTTOM: 10px;
  TEXT-ALIGN: left;
  padding: 3px 0px;
  margin: 5px 0;
  BACKGROUND-COLOR: #FFF;
}
h3.article  {
  FONT-SIZE: 22px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  COLOR: #2E86B9;
  PADDING-BOTTOM: 10px;
  TEXT-ALIGN: left;
  padding: 3px 0px;
  margin: 5px 0;
  BACKGROUND-COLOR: #FFF;
}
h4.article {
  FONT-SIZE: 22px;
  COLOR: #eeeeee;
  PADDING-BOTTOM: 10px;
  TEXT-ALIGN: left;
  PADDING-TOP: 10px;
  PADDING-LEFT: 10px;
  PADDING-RIGHT: 10px;
  BACKGROUND-COLOR: #282828;
  border-radius:3px;
}
h5.article {
  font-size: 22px !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 3px 5px;
  margin: 5px 0;
  BACKGROUND-COLOR: #FFF;
  BORDER-TOP: 2px solid #ccc;
  BORDER-RIGHT: 2px solid #ccc;
}
h6.article  {
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
  PADDING-BOTTOM: 4px;
  PADDING-TOP: 4px;
  PADDING-LEFT: 10px;
  PADDING-RIGHT: 4px;
  BACKGROUND-COLOR: #FFF;
}